body{
  margin: 0;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
body *{
  box-sizing: border-box;
}
.wrapper{
  width: 50%;
  margin: 0 auto;
}
.row{
  display: flex;
  justify-content: space-between;
}
.card{
  width: 80px;
  height: 100px;
  position: relative;
  perspective: 800px;
}
.card div{
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  transition: .2s ease-in;
  font-size: 100px;
  line-height: 100px;
}

.back{
  color: #0f8729;
  z-index: 1;
  backface-visibility: hidden;

}
.front{
  transform: rotateY(-180deg) ;
  backface-visibility: hidden;
}
.card:hover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
  cursor: pointer;
}
.card:hover .front {
  transform: rotateX(0deg);
}

.hearts{
  color: red;
}
.diamonds{
  color: red;
}
.joker{
  color: #e11ed6;
}